a,
a:visited{
    text-decoration: none;
}
#section1,
#section2,
#section3,
#section4,
#section5 {
    scroll-margin-top: 90px;
  }  


body{
    background-color: lightgray;
}

/* HEADER */

.header{
    background-color: rgb(245,245,245);
    height: 70px;
    width: 100%;
    position: fixed;
    top:0;
    left: 0;
    display: flex;
    justify-content:space-between;
    align-items:center;
    border-bottom: 2px solid;
    border-color: rgb(100,100,100);
    z-index: 100;
}

.left-side{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 250px;
    height: 100%;
    position: relative;
}

.left-side-text{
    font-family: Roboto, Arial;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border: 2px solid;
    border-color: black;
    border-radius: 3px;
    width: 120px;
}

.middle-side{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex:1;
    height: 100%;
    margin: 0 20px 0 20px;
}

.website-pages{
    display: flex;
    justify-content: center;
    align-items: center;
}

.website-button{
    font-family: Roboto, Arial;
    font-size: 100%;
    color: rgb(138, 209, 233);
    color: black;
    font-weight: bold;
    background-color: grey;
    border: 2px solid;
    border-radius: 5px;
    border-color: rgb(100, 100, 100);
    height: 50px;
    width: 150px;
    opacity: 1;
    transition: 
        box-shadow 0.3s,
        background-color 0.5s,
        color 0.5s;
    cursor: pointer;
}

.website-button:hover{
    background-color: rgb(138, 209, 233);
    background-color: black;
    color: grey;
    box-shadow: inset 0px 0px 10px rgba(0,0,0,0.5);


}


.right-side{
    display: flex;
    align-items: center;
    justify-content:center;
    width: 250px;
    height: 100%;
}

.right-side-button{
    position: relative;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content:center;
    flex-direction: row;
    font-size: 100%;
    font-family: Roboto, Arial;
    background-color: rgb(238,238,238);
    border: 2px solid;
    border-color: black;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.5s;
}

.right-side-button:hover{
    background-color: rgb(190,190,190);

}

.phone-image,
.mail-image{
    width: 30px;
    height: 23px;
    margin-left: 10px;
    object-fit:cover;
}

.phone-image{
    height: 100%;
    object-fit: contain;
    margin-right: 8px;
}

.contact-tooltip{
    position: absolute;
    width: 180px;
    background-color: white;
    border: 2px solid;
    border-color: black;
    border-radius: 7px;
    opacity: 0;
    top:40px;
    pointer-events: none;
    transition: opacity 0.35s;
}

.right-side-button:hover .contact-tooltip{
    opacity: 1;
}

/* SIDEBAR */

.sidebar{

    background-color: rgb(245,245,245);
    position: fixed;
    left:0;
    top:70px;
    bottom: 0;
    width: 100px;
    z-index: 100;
    border-top: 2px solid;
    border-right: 2px solid;
    border-color: rgb(100, 100, 100);

    
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-evenly;


}

.sidebar-text-button{
    font-family: Roboto, Arial;
    font-size: 100%;
    color: rgb(138, 209, 233);
    color: black;
    background-color: gray;
    font-weight: bold;
    height: 100%;
    width: 100%;
    border: 2px solid;
    border-radius: 5px;
    border-color: rgb(100, 100, 100);
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: gray;

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    cursor: pointer;
    transition: 
        box-shadow 0.3s,
        background-color 0.5s,
        color 0.5s;
    cursor: pointer;
}

.sidebar-text-button:hover{
    background-color: rgb(138, 209, 233);
    background-color: black;
    color: grey;
    box-shadow: inset 0px 0px 10px rgba(0,0,0,0.5);
}




/* WEBSITE INFO */

.website-content{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    background-color: rgb(138, 209, 233);
    background-color: rgb(100, 100, 100);
    row-gap: 70px;

    padding: 0px 40px 0px 40px;
    margin: 90px 10px 0px 110px;

}


/* Page-ONE  and Page-TWO*/
.one-title,
.two-title {
    position: relative;
    font-family: Roboto, Arial;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100px;
    width: 100%;
    margin-top: 10px;
    border: 3px solid;
    border-color: white;
    border-radius: 15px;
}

.one-title{
    border-color: black;
}

.one-title-image,
.two-title-image {
    background-repeat:repeat-x;
    width: 100%;
    height: 100%;
    border-radius: 12px;

}

.one-title-image{
    background-image: url("images/frontend.png");
}

.two-title-image{
    background-image: url("images/binary.jpeg");
}

.middle-side-title-one,
.middle-side-title {
    position: absolute;
    display: flex;
    align-items: center;
    flex: 0 0 auto;
    flex-wrap: nowrap;

    height: 100%;
    margin: 0 20px 0 20px;

    color: white;
    font-size: 500%;

    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: black;
}

.middle-side-title-one{
    color: black;
    /*-webkit-text-stroke-color: rgb(176, 176, 176);*/
}

.two-topics,
.one-topics{
    margin-top: -100px;
    margin-bottom: 70px;
    height: 250px;
    width: 100%;
    background-color: rgb(177, 177, 177);
    border-radius: 8px;
    font-size: 16px;
    font-family: 'Times New Roman', Times, serif;
    color: black;
    font-weight: 500;
    padding:0 8px 0 8px;
}

.topics-images{
    float: right;
    position: relative;
    shape-outside: circle(60% at 40px 86px);
    
}

.bolded-highlight{
    display: inline-block;
    font-size: 28px;
    color: black;
    background-color: rgb(0, 98, 255);
    border-radius: 6px;
    margin-right: 2px;
    padding: 0 4px 0 4px;
    margin: 4px 0 0 2px;
}


footer{
    position: sticky;
    bottom: -120px;
    margin-left: 92px;
    margin-right: -10px;
    height: 150px;
    background-color: rgb(245,245,245);
    border: 2px solid;
    border-color: rgb(100, 100, 100);

    display: grid;
    row-gap: 7px;
    grid-template-rows: 1fr 1fr 1fr;

}

.footer-info{
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;

    font-family: Roboto, Arial;
    font-size: 100%;
    font-weight: 600;
}

.footer-info .mail-image{
    margin-right: 5px;
}

/* DUMMY 404 ERROR PAGE */



.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.error {
    text-align: center;
}

.error h1 {
    font-size: 10rem;
    margin: 0;
}

.error h2 {
    font-size: 3rem;
    margin: 0 0 2rem;
}

.error p {
    font-size: 1.2rem;
    margin-bottom: 2rem;
}

.btn {
    display: inline-block;
    padding: 1rem 2rem;
    border-radius: 50px;
    background-color: #fff;
    color: #292929;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
}

.btn:hover {
    background-color: #292929;
    color: #fff;
}



/* For Screens Smaller than 715px (Phones / Tablets)*/
@media only screen and (min-width:0px) and (max-width:715px){
    .header {
      height: 50px;
    }
  
    .left-side {
      width: 10px;
      margin-left: 35px;
    }
  
    .left-side-text {
      font-size: 12px;
      width: 80px;
    }
  
    .middle-side {
      width: 20px;
      padding-right: 4px;
    }

    .website-pages{
        width: 20px;
        font-size: 10%;
    }
  
    .website-button {
      height: 40px;
      width: 80px;
    }
  
    .right-side {
      width: 10px;
      margin-right: 50px;
    }
  
    .phone-image,
    .mail-image {
      width: 20px;
      height: 15px;
      margin-left: 5px;
    }
  
    .contact-tooltip {
      width: 120px;
    }
  
    .sidebar {
    margin-top: -20px;
      width: 12%;
    }
  
    .sidebar-text-button {
      font-size: 12%;
      margin-top: 5px;
      margin-bottom: 5px;
    }

    .website-content{
        margin: 10% 5% 0 5%;
        width: 100%;
    }

    .one-title,
    .two-title {
        width: 100%;
        font-size: 10px;
        text-align: center;
    }

    .two-topics,
    .one-topics{
        width: 100%;
        font-size: 11px;
    }

    .topics-images{
        width: 45%;
    }

    .footer{
        width: 1000px;
    }
}

/* For Screens Smaller than 900px but bigger than 716px (Tablets / iPads)*/
@media only screen and (min-width:716px) and (max-width:900px){

    .header {
        height: 50px;
      }
    
      .left-side {
        width: 10px;
        margin-left: 35px;
      }
    
      .left-side-text {
        font-size: 12px;
        width: 80px;
      }
    
      .middle-side {
        width: 20px;
        padding-right: 4px;
      }
  
      .website-pages{
          width: 20px;
          font-size: 16px;
      }
    
      .website-button {
        height: 40px;
        width: 130px;
      }
    
      .right-side {
        width: 10px;
        margin-right: 50px;
      }
    
      .phone-image,
      .mail-image {
        width: 20px;
        height: 15px;
        margin-left: 5px;
      }
    
      .contact-tooltip {
        width: 120px;
      }
    
      .sidebar {
      margin-top: -20px;
        width: 12%;
      }
    
      .sidebar-text-button {
        font-size: 16px;
        margin-top: 5px;
        margin-bottom: 5px;
      }
  
      .website-content{
          margin: 10% 0 0 15%;
          width: 100%;
      }
  
      .one-title,
      .two-title {
          width: 100%;
          font-size: 10px;
          text-align: center;
      }
  
      .two-topics,
      .one-topics{
          width: 100%;
          font-size: 15px;
      }
  
      .topics-images{
          width: 30%;
      }

      .footer{
        width: 100%;
      }

}
/* For Screens Smaller than 1100px and bigger than 900px (Big iPads / Small Computers)*/
@media only screen and (min-width:900px) and (max-width:1100px){

    .header {
        height: 50px;
      }
    
      .left-side {
        width: 10px;
        margin-left: 35px;
      }
    
      .left-side-text {
        font-size: 12px;
        width: 80px;
      }
    
      .middle-side {
        width: 20px;
        padding-right: 4px;
      }
  
      .website-pages{
          width: 20px;
          font-size: 14px;
          text-align: center;
      }
    
      .website-button {
        height: 40px;
        width: 150px;
      }
    
      .right-side {
        width: 10px;
        margin-right: 50px;
      }
    
      .phone-image,
      .mail-image {
        width: 20px;
        height: 15px;
        margin-left: 5px;
      }
    
      .contact-tooltip {
        width: 120px;
      }
    
      .sidebar {
      margin-top: -20px;
        width: 12%;
      }
    
      .sidebar-text-button {
        font-size: 18px;
        margin-top: 5px;
        margin-bottom: 5px;
      }
  
      .website-content{
          margin: 10% 0 0 15%;
          width: 100%;
      }
  
      .one-title,
      .two-title {
          width: 100%;
          font-size: 10px;
          text-align: center;
      }
  
      .two-topics,
      .one-topics{
          width: 100%;
          font-size: 18px;
      }
  
      .topics-images{
          width: 25%;
      }

      .footer-info{
        margin-left: 30px;
      }
}
